{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Profile{% endblock %}</h1>
<h4 id='message'>{{message}}</h4>
<form method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" name="username" id="username" value="{{user.username}}" required>
    <label for="address">Shipping Address</label>
    <input class="form-control" name="address" id="address" value="{{user.shipping_address}}" required>
    <label for="postal">Postal Code</label>
    <input class="form-control" name="postal" id="postal" value="{{user.postal_code}}" required>
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Update">
  </div>
</form>
{% endblock %}